@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

body {
  --sb-track-color: #2b2b2b;
  --sb-thumb-color: linear-gradient(0deg, #2b2b2b 0%, #fff764 100%);
  --sb-size: 7px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  display: flex;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

.sidebar .logo-form {
    width: 75px;
}

.logo-sidebar {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2b2b2b;
    padding-top: 20px;
    border-right: #fff764 solid 3px;
}

.sidebar h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #fff764;
    color: #2b2b2b;
}

.sidebar a:nth-child(4) {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content {
    position: absolute;
    margin-left: 250px;
    padding: 20px;
    background-color: #2b2b2b;
    width: calc(100% - 250px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-container .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.input {
    width: 40%;
}

.button-signup {
    margin-top: 15px;
    width: 30%;
    padding: 15px;
    background-color: #2b2b2b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-signup:hover {
    background-color: #fff764;
    color: #2b2b2b;
    font-weight: bold;
}