@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  --sb-track-color: #2b2b2b;
  --sb-thumb-color: linear-gradient(0deg, #2b2b2b 0%, #fff764 100%);
  --sb-size: 7px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

.sidebar .logo-form {
    width: 75px;
}

.logo-sidebar {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2b2b2b;
    padding-top: 20px;
    border-right: #fff764 solid 3px;
}

.sidebar h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #fff764;
    color: #2b2b2b;
}

.sidebar a:nth-child(4) {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content {
    margin-left: 250px;
    padding: 20px;
    background-color: #2b2b2b;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: calc(100% - 100px);
}

.card {
    background-color: #fff764;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 325px;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    margin-top: 15px;
    width: 15%;
}

.card .img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card .container {
    padding: 16px;
}

.card h4 {
    margin: 0 0 10px;
    text-align: center;
}

.card p {
    color: #2b2b2b;
    width: 55%;
    justify-content: left;
    display: flex;
    align-items: center;
}

.card span {
    text-align: left;
    width: 45%;
    text-align: center;
}

.card .container div {
    display: flex;
    gap: 5px;
}

.buttons {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 10px;
}

.button-edit, .button-delete {
    width: 30%;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    border: #2b2b2b solid 1px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.3s all;
    color: #2b2b2b;
}

.button-delete {
    background-color: rgb(255, 108, 108);

}

.button-edit {
    background-color: rgb(130, 130, 255);
}

.button-edit:hover {
    background-color: rgb(57, 57, 255);
    color: whitesmoke;
}

.button-delete:hover {
    background-color: rgb(233, 60, 60);
    color: whitesmoke;
}

.pagination-controls {
    width: calc(100% - 250px);
    margin-left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
    background-color: #2b2b2b;
}

.pagination-controls button {
    width: 8%;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff764;
    font-weight: bold;
    font-family: 15px;
}

.pagination-controls button:hover {
    background-color: #fff429;
}

.pagination-controls button:disabled {
    background-color: #8a8a8a;
    color: #2b2b2b;
}

#currentPage {
    color: #fff764;
}